/* styles for the registration pages */
/* style for the container containing the registration form and the image */
#regContainer {
    display: flex;
}

/* positioning of the registration form and the image beside each other */
.divForm, .divImg {
    width: 50%;
}

/* style of the registration image on the right side */
#regImg {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px black solid;
    background: lightgrey;
}

/* styles of the settings page */
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab .tabBtn {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab .tabBtn:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab .tabBtn.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

/* style of the checkboxes - to position them in three columns beside each other */
.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


