/* styles of the toggle tabs "chat-recommended-itinerary */
/* styley of the tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* styles of the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* on hover the background colour of the tab buttons will be changed */
.tab button:hover {
  background-color: #ddd;
}

/* an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* styles of the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* position of the group creation section and the three toggleable tabs */
.sectionContainer {
  display: flex;
  gap: 20px;
}

.creategroupContainer {
  flex: 1;
  padding: 10px;
}

.toggleTabsContainer {
  flex: 3;
  padding: 10px;
}


/* styles for the slider - how many days the group is staying */
/* the width of the slider container */
.sliderContainer {
    width: 100%;
}

/* style of the slider itself */
.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

.slider:hover {
  opacity: 1;
}


/* styles on the group creation confirmation page */
/* position of the container and its two boxes beside each other */
.groupfriendContainer {
  display: flex;
  gap: 20px;
}

.addfriendContainer, .groupNameImgContainer {
  width: 50%;
  padding: 10px;
}

/* styles of the select activities page */
/* styles of the activity cards (i.e. sport, culture, entertainment, relax) where users decide between yes, maybe, no */
.activityContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* space between cards */
}

.activityCard {
  padding: 0 6px;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  flex: 0 0 auto;
}

.activityImg {
  width: 100%;
  border-radius: 5px 5px 0 0;
}




/* styles of the icons yes - maybe - no */ 
.iconBtn {
  background-color: grey; /* grey background */
  border: none; /* remove borders */
  color: white; /* white text */
  padding: 10px 10px; /* some padding */
  margin: 0px 10px 0px 0px; /* adding margin to distance the icons from each other */
  font-size: 16px; /* set a font size */
  cursor: pointer; /* mouse pointer on hover */
}

/* blue background on mouse-hover */
.iconBtn:hover {
  background-color: blue;
}

/* styles of the chat */
/* styles of the form container */
.formchatContainer {
  padding: 10px;
  background-color: white;
}

/* full-width textarea = where the message is typed */
.formchatContainer textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
}

/* When the textarea gets focus, do something */
.formchatContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* style of the sent and displayed messages */
.msgDisplay {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.msgDisplay::after {
  content: "";
  clear: both;
  display: table;
}

.chatImg  {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatImg.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.scrollContainer {
  display: flex; /* put cards in a row */
  flex-wrap: nowrap; /* prevent wrapping */
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: hidden; /* Hide vertical scroll */
  gap: 20px; /* Space between cards */
  padding: 10px;
  scroll-behavior: smooth; 
  width: 100%;
  max-width: 100vw;
}

/* styles of the pop up chat */
.msgformContainer {
  border: 1px black solid;
  padding: 10px;
}

/* buttons used to open and close the chat form - fixed at the bottom of the page */
.openBtn {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.closeBtn {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* The popup chat - hidden by default */
.chatpopupContainer {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.msgformContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.msgformContainer textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
}

/* When the textarea gets focus, do something */
.msgformContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.msgformContainer .sendBtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.msgformContainer .sendBtn:hover, .openBtn:hover {
  opacity: 1;
}








