/* styles of all pages */
* {
  box-sizing: border-box;
}

/* style of the navigation bar  */
.navbar {
  background-color: lightgreen;
  overflow: hidden;
}

/* style of the links inside the navigation bar */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change the colour of the links when hovered */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* the last <a> will be right-aligned (split) link inside the navigation bar */
.navbar a.right {
  float: right;
}




